.single_post {


	max-width: 80%;
	min-height: 35em;
	margin: 10em auto;

	h2 {
		font-size: 4em;
		font-family: "raleway";
		color: #111;
		font-weight: 700;
		text-align: left;
		margin-bottom: 0.5em;
	
	}

	img {
		float: left;
		margin:  0 1em;

		
		@media screen and (max-width: $break-medium) {
			float: none;
			margin: 1em 0;
			width: 100%;
		}
	}

	p {
		font-size: 1.2em;
		color: #111;
	}


	

	} // end single post


.blog {
	margin: 0;
	padding-top: 7em;
	background-color: $lightblue;;

	h2 {
		font-size: 4em;
		font-family: "raleway";
		color: #fff;
		font-weight: 700;
		text-align: left;
	
	}

	h4 {
		font-size: 2em;
		font-family: "roboto";
		color: #fff;
		font-weight: 700;
		text-align: left;
		margin-bottom: 1em;
	}


	ul {
		list-style-type: none;
		margin: 5em;
		display: inline-block;
		text-align: center;
		li {
			display: inline-block;
			margin: 1em;
			position: relative;
			text-align: left;

			.post_caption {
				background-color: rgba(0,0,0,0.5);
				width: 350px;
				height: 320px;
				position: absolute;
				top: 0;
				z-index: 2;
				transition: all 0.7s ease;
				opacity: 0;
				padding: 1em 0;
				margin: 0 auto;
				font-family: roboto;

				h3 {  
					width: 80%; 
					margin: 1em auto;
					color: #fff;
					text-shadow: none;
					text-transform: uppercase; 
				}
				
				p {
					width: 80%;
					margin: 0 auto;
					color: #fff;
				}
			}
		}
	}

}